<?xml version="1.0" encoding="UTF-8"?>
<module id="4" version="2022041900">
  <modulename>lesson</modulename>
  <sectionid>2</sectionid>
  <sectionnumber>2</sectionnumber>
  <idnumber></idnumber>
  <added>1636411142</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>2</groupmode>
  <groupingid>0</groupingid>
  <completion>2</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionpassgrade>0</completionpassgrade>
  <completionview>1</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>0</showdescription>
  <downloadcontent>1</downloadcontent>
  <tags>
  </tags>
</module>