<?xml version="1.0" encoding="UTF-8"?>
<module id="34" version="2022041900">
  <modulename>lesson</modulename>
  <sectionid>2</sectionid>
  <sectionnumber>1</sectionnumber>
  <idnumber></idnumber>
  <added>1638386561</added>
  <score>0</score>
  <indent>2</indent>
  <visible>1</visible>
  <visibleoncoursepage>1</visibleoncoursepage>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionpassgrade>0</completionpassgrade>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>0</showdescription>
  <downloadcontent>1</downloadcontent>
  <tags>
  </tags>
</module>